.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer-logo p {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}

.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    list-style: none;
}

.footer-links li {
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
}

.footer-social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
}

.footer-icon-container {
    border: 1px solid rgb(194, 194, 194);
    display: flex;
    justify-content: center;
    align-items: center;  
    padding: 6px;   
}

.footer-copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;
    font-size: 18px;
}

.footer-copyright hr{
    width: 800px;
    border: none;
    height: 2px;
    background: #c7c7c7;
 }

@media(max-width: 1280px) {
    .footer {

    }

    .footer-logo {

    }

    .footer-logo p {
        font-size: 35px;
    }

    .footer-logo img {
        width: 60px;
        height: 60px;
    }

    .footer-links {
        gap: 45px;
    }

    .footer-links li {
        font-size: 17px;
    }

    .footer-social-icon {
        gap: 18px;
    }

    .footer-icon-container {
         
    }

    .footer-copyright hr{ 
        width: 600px; 
    }

    .footer-copyright p{ 
        font-size: 17px; 
    }

}

@media(max-width: 1024px) {
    .footer {
        gap: 40px;
    }

    .footer-logo p {
        font-size: 30px;
    }

    .footer-logo img {
        width: 55px;
        height: 55px;
    }

    .footer-links {
        gap: 40px;
    }

    .footer-links li {
        font-size: 16px;
    }
    .footer-icon-container {
        width: 40px;
    }

    .footer-icon-container img {
        width: 30px;
        height: 30px;
    }

    .footer-social-icon {
        gap: 16px;
    }

    .footer-copyright hr{ 
        width: 500px; 
    }

    .footer-copyright p{ 
        font-size: 16px; 
    }

    }

@media(max-width: 800px) {
    .footer {
        gap: 30px;
    }
    .footer-logo p {
        font-size: 25px;
    }

    .footer-logo img {
        width: 50px;
        height: 50px;
    }

    .footer-links {
        gap: 35px;
    }

    .footer-links li {
        font-size: 15px;
    }

    .footer-social-icon {
        gap: 14px;
    }

    .footer-icon-container {
        width: 35px;
    }

    .footer-icon-container img {
        width: 25px;
        height: 25px;
    }

    .footer-copyright hr{ 
        width: 400px; 
    }

    .footer-copyright p{ 
        font-size: 15px; 
    }
}

@media(max-width: 600px) {
    .footer {
        gap: 20px;
    }
    .footer-logo p {
        font-size: 22px;
    }

    .footer-logo img {
        width: 45px;
        height: 45px;
    }

    .footer-links {
        gap: 30px;
    }

    .footer-links li {
        font-size: 14px;
    }

    .footer-social-icon {
        gap: 12px;
    }

    .footer-icon-container {
        width: 30px;
    }

    .footer-icon-container img {
        width: 20px;
        height: 20px;
    }

    .footer-copyright hr{ 
        width: 300px; 
    }

    .footer-copyright p{ 
        font-size: 14px; 
    }
}