.breadcrums {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #5e5e5e;
    font-size: 16px;
    font-weight: 600;
    margin: 40px 100px;
    text-transform: capitalize;
}

@media(max-width: 1280px) {
    .breadcrums {
        margin: 30px 50px;
        font-size: 15px;
    }

}

@media(max-width: 1024px) {
    .breadcrums {
        margin: 30px 30px;
        font-size: 13px;
    }

}

@media(max-width: 800px) {
    .breadcrums {
        margin: 30px 20px;
        font-size: 12px;
    }

}



