.related-products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}

.related-products h1 {
    font-size: 42px;
    font-weight: 600;
    color: rgb(51, 51, 51);
}

.related-products hr {
    width: 200px;
    height: 6px;
    background-color: black;
    border-radius: 10px;
}

.related-products-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-bottom: 60px;
    margin-top: 35px;
}

@media(max-width: 1280px) {
    .related-products {
        height: 70vh;
    }

    .related-products h1 {
        font-size: 40px;
    }

    .related-products hr {
        width: 150px;
        height: 4px;
    }

    .related-products-items {
        height: 65%;
        gap: 20px;
        margin-top: 20px;
    }


}

@media(max-width: 1024px) {
    .related-products {
        height: 60vh;
    }

    .related-products h1 {
        font-size: 30px;
    }

    .related-products hr {
        width: 120px;
        height: 3px;
    }

    .related-products-item {
        height: 60%;
        gap: 15px;
        margin-top: 18px;
    }
}

@media(max-width: 800px) {
    .related-products {
        height: 50vh;
    }

    .related-products h1 {
        font-size: 25px;
    }

    .related-products hr {
        width: 140px;
        height: 2px;
    }

    .related-products-item {
        height: 60%;
        gap: 10px;
        margin-top: 15px;
    }
}

@media(max-width: 500px) {
    .related-products {
        height: 40vh;
    }

    .related-products h1 {
        font-size: 20px;
    }

    .related-products hr {
        width: 80px;
        height: 1px;
    }

    .related-products-item {
        height: 65%;
        gap: 5px;
    }
}
