.description-box {
    margin: 120px 170px;
}

.description-box-navigator {
    display: flex;
}

.description-box-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    width: 171px;
    height: 70px;
    border: 1px solid #d0d0d0;
}

.description-box-nav-box.fade {
    background-color: #FBFBFB;
    color: #555;
}

.description-box-description {
    display: flex;
    flex-direction: column;
    gap: 25px;
    border: 1px solid #d0d0d0;
    padding: 47px;
    padding-bottom: 70px;
}

@media (max-width: 1280px) {
    .description-box {
        margin: 90px 140px;
    }

    .description-box-nav {
        width: 150px;
        height: 60px;
        font-size: 14px;
    }

    .description-box-description {
        padding: 30px;
        padding-bottom: 50px;
    }
}
@media(max-width: 900px) {
    .description-box {
        margin: 70px 50px;
    }

    .description-box-nav {
        width: 120px;
        height: 50px;
        font-size: 14px;
    }

    .description-box-description {
        padding: 20px;
        padding-bottom: 40px;
    }

    .description-box-description p {
        font-size: 14px;
    }
}