

.shop-category-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    width: 80%;
}

.shop-category-indexSort {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
    margin-bottom: 20px;
}

.shop-category-indexSort span {
    font-weight: 600;
}

.shop-category-sort {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    border: 1px solid lightgray;
    padding: 10px 15px;
    border-radius: 50px;
    cursor: pointer;
}

.shop-category-products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
    padding: 0 120px;
    gap: 30px;
    margin-bottom: 100px;
}

.shop-category-explore {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.shop-category-explore button {
    padding: 20px 40px;
    border: none;
    background-color: rgb(188, 187, 187);
    color: white;
    font-weight: 600;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    color: #343434;
}