.new-letter {
    width: 65%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 140px;
    margin: auto;
    margin-bottom: 110px;
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
}

.new-letter h1 {
    font-size: 45px;
    font-weight: 600;
    padding: 10px 0px;
}

.new-letter p {
    font-size: 20px;
    font-weight: 400;
    padding: 10px 0px;
    margin-bottom: 20px;
}

.new-letter div {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    width: 100%;
    border-radius: 80px;

}


.new-letter input {
    width: 80%;
    height: 70px;
    border: 1px solid lightgray;
    outline: none;
    padding-left: 30px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 80px 0px 0px 80px;
}

.new-letter button {
    width: 20%;
    height: 70px;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    font-size: 18px;
    font-weight: 500;
    border-radius: 0px 80px 80px 0px;
    cursor: pointer;
}

@media(max-width: 1280px) {
    .new-letter {
        margin-top: 30px;
        margin-bottom: 120px;
        padding: 0px 70px;
        gap: 20px;
    }

    .news-letter h1 {
        font-size: 36px;
    }

    .new-letter p {
        font-size: 16px;
    }

    .new-letter div {
        width: 600px;
        height: 60px;
    }

    .new-letter input {
        height: 60px;
        font-size: 16px;
    }

    .new-letter button {
        height: 60px;
        font-size: 16px;
    }
}

@media(max-width: 1024px) {
    .new-letter {
        margin-top: 20px;
        margin-bottom: 80px;
        padding: 0px 50px;
        gap: 15px;
    }

    .new-letter h1 {
        font-size: 28px;
    }

    .new-letter p {
        font-size: 17px;
    }

    .new-letter div {
        width: 450px;
        height: 50px;
    }

    .new-letter input {
        height: 50px;
        font-size: 14px;
    }

    .new-letter button {
        height: 50px;
        font-size: 14px;
    }
}

@media(max-width: 800px) {
    .new-letter {
        height: 45vh;
        margin-top: 10px;
        margin-bottom: 60px;
        padding: 0px 30px;
        gap: 10px;
    }

    .new-letter h1 {
        font-size: 22px;
    }

    .new-letter p {
        font-size: 15px;
    }

    .new-letter div {
        width: 370px;
        height: 40px;
    }

    .new-letter input {
        height: 40px;
        font-size: 12px;
    }

    .new-letter button {
        height: 40px;
        font-size: 12px;
    }
}

@media(max-width: 600px) {
    .new-letter {
        height: 35vh;
        margin-top: 10px;
        margin-bottom: 30px;
        padding: 0px 25px;
        gap: 8px;
    }

    .new-letter h1 {
        font-size: 18px;
        text-align: center;
    }

    .new-letter p {
        font-size: 14px;
        text-align: center;
    }

    .new-letter div {
        width: 320px;
        height: 35px;
    }

    .new-letter input {
        width: 70%;
        height: 35px;
        font-size: 12px;
    }

    .new-letter button {
        width: 30%;
        height: 35px;
        font-size: 12px;
    }
}